In [30]:
import os
import sys
from  dotenv import load_dotenv
import psycopg2
import pandas as pd
import scipy.stats 
from scipy.stats import zscore

In [2]:
load_dotenv()
user = os.environ['user']
password = os.environ['password']
host = os.environ['host']
port = os.environ['port']
database = os.environ['database']

In [4]:
def connect():
    conn = None
    try:
        print('Connecting...')
        conn = psycopg2.connect(
            host = host,
            database = database,
            user = user,
            password = password
        )
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        sys.exit(1)

    print("All good, Connection successfull!")
    return conn

In [5]:
def sql_dataFrame(conn, query):
    cursor = conn.cursor()
    try:
        cursor.execute(query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1
    tuples_list = cursor.fetchall()

    df = pd.DataFrame(tuples_list, columns=[col[0] for col in cursor.description])
    cursor.close()
    return df

In [6]:
query = """ SELECT * FROM public.xdr_data"""

conn = connect()

df = sql_dataFrame(conn, query)

conn.close()

Connecting...
All good, Connection successfull!

In [7]:
df.head()

,Bearer Id,Start,Start ms,End,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Last Location Name,...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
0,1.311448e+19,4/4/2019 12:01,770.0,4/25/2019 14:35,662.0,1823652.0,2.082014e+14,3.366496e+10,3.552121e+13,9.16456699548519E+015,...,15854611.0,2501332.0,8198936.0,9656251.0,278082303.0,14344150.0,171744450.0,8814393.0,36749741.0,308879636.0
1,1.311448e+19,4/9/2019 13:04,235.0,4/25/2019 8:15,606.0,1365104.0,2.082019e+14,3.368185e+10,3.579401e+13,L77566A,...,20247395.0,19111729.0,18338413.0,17227132.0,608750074.0,1170709.0,526904238.0,15055145.0,53800391.0,653384965.0
2,1.311448e+19,4/9/2019 17:42,1.0,4/25/2019 11:58,652.0,1361762.0,2.082003e+14,3.376063e+10,3.528151e+13,D42335A,...,19725661.0,14699576.0,17587794.0,6163408.0,229584621.0,395630.0,410692588.0,4215763.0,27883638.0,279807335.0
3,1.311448e+19,4/10/2019 0:31,486.0,4/25/2019 7:36,171.0,1321509.0,2.082014e+14,3.375034e+10,3.535661e+13,T21824A,...,21388122.0,15146643.0,13994646.0,1097942.0,799538153.0,10849722.0,749039933.0,12797283.0,43324218.0,846028530.0
4,1.311448e+19,4/12/2019 20:10,565.0,4/25/2019 10:40,954.0,1089009.0,2.082014e+14,3.369980e+10,3.540701e+13,D88865A,...,15259380.0,18962873.0,17124581.0,415218.0,527707248.0,3529801.0,550709500.0,13910322.0,38542814.0,569138589.0

Exploratory Data Analaysis

In [8]:
df.describe()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,1.490100e+05,150000.000000,150000.000000,1.500000e+05,1.494310e+05,1.489350e+05,1.494290e+05,122172.000000,122189.000000,150000.000000,...,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500010e+05,1.500000e+05,1.500000e+05
mean,1.013887e+19,499.188200,498.800880,1.046086e+05,2.082016e+14,4.188282e+10,4.847455e+13,109.795706,17.662883,13300.045927,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
std,2.893173e+18,288.611834,288.097653,8.103762e+04,2.148809e+10,2.447443e+12,2.241637e+13,619.782739,84.793524,23971.878541,...,6.710569e+06,6.345423e+06,6.725218e+06,6.359490e+06,2.439675e+08,4.782700e+06,2.432050e+08,4.769004e+06,1.127639e+07,2.441429e+08
min,6.917538e+18,0.000000,0.000000,7.142000e+03,2.040471e+14,3.360100e+10,4.400152e+11,0.000000,0.000000,0.000000,...,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,7.349883e+18,250.000000,251.000000,5.744050e+04,2.082014e+14,3.365130e+10,3.546071e+13,32.000000,2.000000,43.000000,...,5.833501e+06,5.517965e+06,5.777156e+06,5.475981e+06,2.104733e+08,4.128476e+06,2.101869e+08,4.145943e+06,3.322201e+07,2.431068e+08
50%,7.349883e+18,499.000000,500.000000,8.639900e+04,2.082015e+14,3.366371e+10,3.572201e+13,45.000000,5.000000,63.000000,...,1.161602e+07,1.101345e+07,1.164222e+07,1.099638e+07,4.234081e+08,8.291208e+06,4.218030e+08,8.267071e+06,4.114331e+07,4.558411e+08
75%,1.304243e+19,749.000000,750.000000,1.324302e+05,2.082018e+14,3.368349e+10,8.611970e+13,70.000000,15.000000,19710.750000,...,1.744852e+07,1.651556e+07,1.747048e+07,1.650727e+07,6.331742e+08,1.243162e+07,6.316918e+08,1.238415e+07,4.903424e+07,6.657055e+08
max,1.318654e+19,999.000000,999.000000,1.859336e+06,2.140743e+14,8.823971e+14,9.900120e+13,96923.000000,7120.000000,378160.000000,...,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08

In [9]:
df.count()

Bearer Id                                   149010
Start                                       150000
Start ms                                    150000
End                                         150000
End ms                                      150000
Dur. (ms)                                   150000
IMSI                                        149431
MSISDN/Number                               148935
IMEI                                        149429
Last Location Name                          148848
Avg RTT DL (ms)                             122172
Avg RTT UL (ms)                             122189
Avg Bearer TP DL (kbps)                     150000
Avg Bearer TP UL (kbps)                     150000
TCP DL Retrans. Vol (Bytes)                  61855
TCP UL Retrans. Vol (Bytes)                  53352
DL TP < 50 Kbps (%)                         149247
50 Kbps < DL TP < 250 Kbps (%)              149247
250 Kbps < DL TP < 1 Mbps (%)               149247
DL TP > 1 Mbps (%)                          149247
UL TP < 10 Kbps (%)                         149209
10 Kbps < UL TP < 50 Kbps (%)               149209
50 Kbps < UL TP < 300 Kbps (%)              149209
UL TP > 300 Kbps (%)                        149209
HTTP DL (Bytes)                              68527
HTTP UL (Bytes)                              68191
Activity Duration DL (ms)                   150000
Activity Duration UL (ms)                   150000
Dur. (ms).1                                 150000
Handset Manufacturer                        149429
Handset Type                                149429
Nb of sec with 125000B < Vol DL              52463
Nb of sec with 1250B < Vol UL < 6250B        57107
Nb of sec with 31250B < Vol DL < 125000B     56415
Nb of sec with 37500B < Vol UL               19747
Nb of sec with 6250B < Vol DL < 31250B       61684
Nb of sec with 6250B < Vol UL < 37500B       38158
Nb of sec with Vol DL < 6250B               149246
Nb of sec with Vol UL < 1250B               149208
Social Media DL (Bytes)                     150001
Social Media UL (Bytes)                     150001
Google DL (Bytes)                           150001
Google UL (Bytes)                           150001
Email DL (Bytes)                            150001
Email UL (Bytes)                            150001
Youtube DL (Bytes)                          150001
Youtube UL (Bytes)                          150001
Netflix DL (Bytes)                          150001
Netflix UL (Bytes)                          150001
Gaming DL (Bytes)                           150001
Gaming UL (Bytes)                           150001
Other DL (Bytes)                            150001
Other UL (Bytes)                            150001
Total UL (Bytes)                            150000
Total DL (Bytes)                            150000
dtype: int64

In [19]:
df['Total'] = df.apply(lambda x: x['Total UL (Bytes)'] + x['Total DL (Bytes)'], axis=1)

In [20]:
print(df['Total'])

0         345629377.0
1         707185356.0
2         307690973.0
3         889352748.0
4         607681403.0
             ...
149996    631804110.0
149997    705783925.0
149998    627698629.0
149999    401522016.0
150000            NaN
Name: Total, Length: 150001, dtype: float64

In [32]:
def missing_values_table(df):
    # Total missing values
    mis_val = df.isnull().sum()

    # Percentage of missing values
    mis_val_percent = 100 * df.isnull().sum() / len(df)

    # dtype of missing values
    mis_val_dtype = df.dtypes

    # Make a table with the results
    mis_val_table = pd.concat([mis_val, mis_val_percent, mis_val_dtype], axis=1)

    # Rename the columns
    mis_val_table_ren_columns = mis_val_table.rename(
    columns={0: 'Missing Values', 1: '% of Total Values', 2: 'Dtype'})

    # Sort the table by percentage of missing descending
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:, 1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)

    # Print some summary information
    print("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"
          "There are " + str(mis_val_table_ren_columns.shape[0]) +
          " columns that have missing values.")

    # Return the dataframe with missing information
    return mis_val_table_ren_columns

In [33]:
missing_values_df = missing_values_table(df)
print("Missing Values in df:")
print(missing_values_df)

Your selected dataframe has 56 columns.
There are 42 columns that have missing values.
Missing Values in df:
                                          Missing Values  % of Total Values  \
Nb of sec with 37500B < Vol UL                    130254               86.8
Nb of sec with 6250B < Vol UL < 37500B            111843               74.6
Nb of sec with 125000B < Vol DL                    97538               65.0
TCP UL Retrans. Vol (Bytes)                        96649               64.4
Nb of sec with 31250B < Vol DL < 125000B           93586               62.4
Nb of sec with 1250B < Vol UL < 6250B              92894               61.9
Nb of sec with 6250B < Vol DL < 31250B             88317               58.9
TCP DL Retrans. Vol (Bytes)                        88146               58.8
HTTP UL (Bytes)                                    81810               54.5
HTTP DL (Bytes)                                    81474               54.3
Avg RTT DL (ms)                                    27829               18.6
Avg RTT UL (ms)                                    27812               18.5
Last Location Name                                  1153                0.8
MSISDN/Number                                       1066                0.7
Bearer Id                                            991                0.7
Nb of sec with Vol UL < 1250B                        793                0.5
UL TP < 10 Kbps (%)                                  792                0.5
UL TP > 300 Kbps (%)                                 792                0.5
50 Kbps < UL TP < 300 Kbps (%)                       792                0.5
10 Kbps < UL TP < 50 Kbps (%)                        792                0.5
Nb of sec with Vol DL < 6250B                        755                0.5
DL TP > 1 Mbps (%)                                   754                0.5
250 Kbps < DL TP < 1 Mbps (%)                        754                0.5
50 Kbps < DL TP < 250 Kbps (%)                       754                0.5
DL TP < 50 Kbps (%)                                  754                0.5
Handset Manufacturer                                 572                0.4
Handset Type                                         572                0.4
IMEI                                                 572                0.4
IMSI                                                 570                0.4
End ms                                                 1                0.0
Total DL (Bytes)                                       1                0.0
Total UL (Bytes)                                       1                0.0
Start ms                                               1                0.0
End                                                    1                0.0
Avg Bearer TP DL (kbps)                                1                0.0
Dur. (ms)                                              1                0.0
Start                                                  1                0.0
Dur. (ms).1                                            1                0.0
Activity Duration UL (ms)                              1                0.0
Activity Duration DL (ms)                              1                0.0
Avg Bearer TP UL (kbps)                                1                0.0
Total                                                  1                0.0

                                            Dtype
Nb of sec with 37500B < Vol UL            float64
Nb of sec with 6250B < Vol UL < 37500B    float64
Nb of sec with 125000B < Vol DL           float64
TCP UL Retrans. Vol (Bytes)               float64
Nb of sec with 31250B < Vol DL < 125000B  float64
Nb of sec with 1250B < Vol UL < 6250B     float64
Nb of sec with 6250B < Vol DL < 31250B    float64
TCP DL Retrans. Vol (Bytes)               float64
HTTP UL (Bytes)                           float64
HTTP DL (Bytes)                           float64
Avg RTT DL (ms)                           float64
Avg RTT UL (ms)                           float64
Last Location Name                         object
MSISDN/Number                             float64
Bearer Id                                 float64
Nb of sec with Vol UL < 1250B             float64
UL TP < 10 Kbps (%)                       float64
UL TP > 300 Kbps (%)                      float64
50 Kbps < UL TP < 300 Kbps (%)            float64
10 Kbps < UL TP < 50 Kbps (%)             float64
Nb of sec with Vol DL < 6250B             float64
DL TP > 1 Mbps (%)                        float64
250 Kbps < DL TP < 1 Mbps (%)             float64
50 Kbps < DL TP < 250 Kbps (%)            float64
DL TP < 50 Kbps (%)                       float64
Handset Manufacturer                       object
Handset Type                               object
IMEI                                      float64
IMSI                                      float64
End ms                                    float64
Total DL (Bytes)                          float64
Total UL (Bytes)                          float64
Start ms                                  float64
End                                        object
Avg Bearer TP DL (kbps)                   float64
Dur. (ms)                                 float64
Start                                      object
Dur. (ms).1                               float64
Activity Duration UL (ms)                 float64
Activity Duration DL (ms)                 float64
Avg Bearer TP UL (kbps)                   float64
Total                                     float64

In [34]:
def convert_bytes_to_megabytes(df, bytes_data):
    megabyte = 1 * 10e+5
    df[bytes_data] = df[bytes_data] / megabyte
    return df[bytes_data]

In [37]:
df['x'] = convert_bytes_to_megabytes(df, 'HTTP DL (Bytes)')

print(df)

           Bearer Id            Start  Start ms              End  End ms  \
0       1.311448e+19   4/4/2019 12:01     770.0  4/25/2019 14:35   662.0
1       1.311448e+19   4/9/2019 13:04     235.0   4/25/2019 8:15   606.0
2       1.311448e+19   4/9/2019 17:42       1.0  4/25/2019 11:58   652.0
3       1.311448e+19   4/10/2019 0:31     486.0   4/25/2019 7:36   171.0
4       1.311448e+19  4/12/2019 20:10     565.0  4/25/2019 10:40   954.0
...              ...              ...       ...              ...     ...
149996  7.277826e+18   4/29/2019 7:28     451.0   4/30/2019 6:02   214.0
149997  7.349883e+18   4/29/2019 7:28     483.0  4/30/2019 10:41   187.0
149998  1.311448e+19   4/29/2019 7:28     283.0  4/30/2019 10:46   810.0
149999  1.311448e+19   4/29/2019 7:28     696.0  4/30/2019 10:40   327.0
150000           NaN             None       NaN             None     NaN

        Dur. (ms)          IMSI  MSISDN/Number          IMEI  \
0       1823652.0  2.082014e+14   3.366496e+10  3.552121e+13
1       1365104.0  2.082019e+14   3.368185e+10  3.579401e+13
2       1361762.0  2.082003e+14   3.376063e+10  3.528151e+13
3       1321509.0  2.082014e+14   3.375034e+10  3.535661e+13
4       1089009.0  2.082014e+14   3.369980e+10  3.540701e+13
...           ...           ...            ...           ...
149996    81230.0  2.082022e+14   3.365069e+10  3.548311e+13
149997    97970.0  2.082019e+14   3.366345e+10  3.566051e+13
149998    98249.0  2.082017e+14   3.362189e+10  3.572121e+13
149999    97910.0  2.082021e+14   3.361962e+10  8.618620e+13
150000        NaN           NaN            NaN           NaN

           Last Location Name  ...  Netflix DL (Bytes)  Netflix UL (Bytes)  \
0       9.16456699548519E+015  ...        8.198936e+06        9.656251e+06
1                     L77566A  ...        1.833841e+07        1.722713e+07
2                     D42335A  ...        1.758779e+07        6.163408e+06
3                     T21824A  ...        1.399465e+07        1.097942e+06
4                     D88865A  ...        1.712458e+07        4.152180e+05
...                       ...  ...                 ...                 ...
149996                D20434A  ...        1.788370e+07        1.967816e+07
149997                D10223C  ...        1.935015e+07        2.129315e+07
149998                T51102A  ...        9.963942e+06        5.065760e+06
149999                L88342B  ...        3.322253e+06        1.317259e+07
150000                   None  ...        1.162685e+07        1.100175e+07

        Gaming DL (Bytes)  Gaming UL (Bytes)  Other DL (Bytes)  \
0            2.780823e+08       1.434415e+07      1.717444e+08
1            6.087501e+08       1.170709e+06      5.269042e+08
2            2.295846e+08       3.956300e+05      4.106926e+08
3            7.995382e+08       1.084972e+07      7.490399e+08
4            5.277072e+08       3.529801e+06      5.507095e+08
...                   ...                ...               ...
149996       5.266097e+08       9.197207e+06      3.264510e+06
149997       6.268931e+08       4.735033e+06      7.121804e+08
149998       5.535395e+08       1.339432e+07      1.211009e+08
149999       3.525370e+08       2.529475e+06      8.147131e+08
150000       4.220447e+08       8.288398e+06      4.211005e+08

        Other UL (Bytes)  Total UL (Bytes)  Total DL (Bytes)        Total   x
0           8.814393e+06        36749741.0       308879636.0  345629377.0 NaN
1           1.505514e+07        53800391.0       653384965.0  707185356.0 NaN
2           4.215763e+06        27883638.0       279807335.0  307690973.0 NaN
3           1.279728e+07        43324218.0       846028530.0  889352748.0 NaN
4           1.391032e+07        38542814.0       569138589.0  607681403.0 NaN
...                  ...               ...               ...          ...  ..
149996      1.348742e+07        57628851.0       574175259.0  631804110.0 NaN
149997      2.457758e+06        39135081.0       666648844.0  705783925.0 NaN
149998      1.131473e+07        34912224.0       592786405.0  627698629.0 NaN
149999      1.406930e+06        29626096.0       371895920.0  401522016.0 NaN
150000      8.264799e+06               NaN               NaN          NaN NaN

[150001 rows x 57 columns]

In [35]:
def fix_outlier(df, column):
    df[column] = np.where(df[column] > df[column].quantile(0.95), df[column].median(), df[column])
    return df[column]

In [36]:
def remove_outliers(df, column_to_process, z_threshold=3):
    # Apply outlier removal to the specified column
    z_scores = zscore(df[column_to_process])
    outlier_column = column_to_process + '_Outlier'
    df[outlier_column] = (np.abs(z_scores) > z_threshold).astype(int)
    df = df[df[outlier_column] == 0]  # Keep rows without outliers

    # Drop the outlier column as it's no longer needed
    df = df.drop(columns=[outlier_column], errors='ignore')

    return df